<main>
  <section class="header-perfil">
    <img class="perfil-img" src="../../assets/images/perfil.png" alt="">
  </section>
  <nav class="header-links">
    <object
      data="../../assets/images/home.svg"
      type="image/svg+xml"
      class="header-svg"
    >
      Your browser does not support SVG. Please use a modern browser to view the
      logo.</object
    ><object
      data="../../assets/images/eye.svg"
      type="image/svg+xml"
      class="header-svg"
    >
      Your browser does not support SVG. Please use a modern browser to view the
      logo.</object
    ><object
      data="../../assets/images/repeat-alt.svg"
      type="image/svg+xml"
      class="header-svg"
    >
      Your browser does not support SVG. Please use a modern browser to view the
      logo.
    </object>
  </nav>
</main>
