<section class="form-login">
  <header class="header-login">
    <figure class="figure-login">
      <object
        data="../../assets/images/logo.svg"
        type="image/svg+xml"
        class="logo"
      >
        Your browser does not support SVG. Please use a modern browser to view
        the logo.
      </object>
    </figure>
  </header>
  <main class="main-login">
    <section>
      <article class="container-title-login">
        <p class="title-login">
          Boas-vindas ao Portal! <br />
          Para começar, qual seu email ou CPF?
        </p>
        <p class="subtitle-login">
          Precisamos desta confirmação para dar início ao seu acesso.
        </p>
      </article>

      <article class="container-form-login">
        <mat-form-field class="input-email">
          <mat-label>Email ou CPF</mat-label>
          <input
            matInput
            placeholder="pat@example.com"
            [formControl]="email"
            (blur)="updateErrorMessage()"
            required
          />
          <mat-icon matSuffix>check_circle_outline</mat-icon>
          <mat-error *ngIf="email.invalid">{{ errorMessage() }}</mat-error>
        </mat-form-field>

        <mat-form-field class="input-password">
          <mat-label>Senha</mat-label>
          <input matInput [type]="hide() ? 'password' : 'text'" />
          <button
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
          >
            <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </article>
    </section>
  </main>
  <footer class="footer-login">
    <button mat-raised-button class="btn-footer" (click)="irParaHome()">ACESSAR</button>

    <p class="recover-password">Esqueceu a senha? <a href="#">Acesse aqui</a></p>

    <p class="version-footer">Versão {{ version }}</p>
  </footer>
</section>
