<header>
  <app-header class="header-home" />
</header>
<main>
  <app-navbar class="navbar-home" (showPlans)="handleComponentPlans()" />

  <section class="home-container">
    <app-plans
      class="plans-home"
      [class.close] ="!showPlans"
      [class.open] ="showPlans"
      (closePlans)="handleComponentPlans()"
      (sendPath)="showPlan($event)"
    />

    <div class="contribution-home">
      <ng-container [ngComponentOutlet]="componenteDinamico"></ng-container>
    </div>
  </section>
</main>
