<main>
  <section class="chart-container">
    <header class="chart-header">
      <h2 class="chart-title">Total em contribuições</h2>
      <h3 class="chart-subtitle">{{ sumContributionValues() | real }}</h3>
    </header>
    <figure class="chart-figure">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [labels]="chartOptions.labels"
        [dataLabels]="chartOptions.dataLabels"
        [responsive]="chartOptions.responsive"
        [legend]="chartOptions.legend"
        [colors]="chartOptions.colors"
      ></apx-chart>
    </figure>
    <main class="chart-footer">
      <ng-container *ngFor="let contribution of contributions">
        <div class="chart-title-footer">
          <span class="color-circle" [style.backgroundColor]="contribution.color"></span>
          <p>{{ contribution.name }}</p>
        </div>
        <p class="chart-value-footer">{{ contribution.value | real }}</p>
      </ng-container>
    </main>
  </section>

  <section class="card-container">
    <ng-container *ngFor="let contribution of contributions">
      <mat-card class="card">
        <mat-card-header class="card-header">
          <div>
            <object
              data="../../assets/images/coins.svg"
              type="image/svg+xml"
              class="header-svg"
            >
              Your browser does not support SVG. Please use a modern browser to
              view the logo.
            </object>
            {{ contribution.name }}
          </div>

          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="chevron_right"
          />
        </mat-card-header>
        <mat-card-content class="card-content">
          <mat-card-title class="card-content-text">
            <p class="card-text">Valor da contribuição</p>
            <p class="card-value">
              {{ contribution.value | real }}
            </p></mat-card-title
          >
          <mat-card-title
            class="card-content-text"
            *ngIf="contribution.percentage"
          >
            <p class="card-text">Porcentagem do salário</p>
            <p class="card-value">
              {{ contribution.percentage | percentCustom }}
            </p></mat-card-title
          >

          <button class="bnt-card" mat-button>alterar contribuição</button>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </section>

  <footer>
    <button mat-raised-button class="btn-footer">incluir contribuição</button>
  </footer>
</main>
